.title{
    margin-top: 150px;    
    text-align: center;
}
.special-title{
    font-size: 33px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: #0bcdd6;
    margin-bottom: 5px;
}
.big-title{
    font-size: 64px;
    margin-bottom: 10px;
}
.nomal-title{
    font-size: 17px;
    width: 600px;
    margin-bottom: 100px;
}
.menu{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
}
.nomal{
    margin-left: 400px;
}
.name-title{
    font-size: 18px;
    margin-bottom: 15px;
}
.mean{
    font-size: 14px

}
.content{

    text-align: center;
}
.picture{
    margin-bottom: 10px;
}
